<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="AppleTitle" content="TextMate Help">
   <link href="css/stylesheet.css" rel="stylesheet" type="text/css">
   <title>FreeSWITCH Book</title>
</head>

<body id="documentation">
   <div id="wrapper">
	
	<div id="header">
		FreeSWITCH: VoIP实战
		           作者：Seven Du
		
		<span class="right">
			<a href="index.html">回主目录</a>
		</span>
	</div>
